* {
    font-family:verdana;
}

html, body {
    margin: 0;
    padding: 0;
}

p {
    font-size:14px;
}

div.index {
    width: 450px;
    margin: 10px auto;
    text-align: center;
}

div.index a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888;
    margin: 10px;
    background-color: #fff;
    text-align: left;
    box-sizing: border-box;
}

div.index a:hover {
    box-shadow: 3px 3px 5px #bbb;
}

.task::before {
    content: "!";
    position: absolute;
    left: 8px;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    width: 20px;
    text-align: center;
    border: 2px solid #666;
    top: 8px;
}

.task {
    background-color: #ccc;
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    padding-left: 50px;
    position:relative;
}

button {
    display:block;
    border-radius:5px;
    box-shadow:3px 3px 5px #888;
    min-width:120px;
    text-align:center;
    padding:10px;
    border:2px solid #fff;
    cursor:pointer;
}

button.back, button.index {
    float: left;
    margin-right:10px;
}

button.test {
    float:right;
    border:2px solid yellowgreen;
}

.clear {
    clear:both;
    display:block;
    height:1px;
}

#headline {
    display:block;
    width:100%;

    box-sizing:border-box;
    background-color:#666;
    color:#fff;

    padding:10px;
}

#exercise_description, #exercise_result, #exercise_workspace {
    display:block;
    min-height:80vh;
    width:33vw;
    box-sizing: border-box;
}

#feedback {
    position: absolute;
    display:none;
    top: 30vh;
    text-align: center;
    background-color: #fff;
    left: 20vw;
    width: 60vw;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px solid gray;
    padding: 20px;
}

#feedback.correct {
    border: 4px solid yellowgreen;
    cursor: pointer;
}

#feedback.failed::before {
    position: absolute;
    content:"Die folgende Prüfung ist fehlgeschlagen:";
    color:#aaa;
    top:10px;
    left:10px;
    font-style:italic;
    font-size:12px;
}

#feedback.failed {
    padding-top:40px;
    border: 4px solid indianred;
    cursor:pointer;
}

.flex3 {
    display: flex;
}

.flex3 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.tag::before {
    content: "<";
    color: #00881c;
    font-weight: bold;
}

.tag::after {
    content: ">";
    color: #00881c;
    font-weight: bold;
}

.tag {
    background-color: #ccc;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    color: #00881c;
}